.leaderboard-page {
    display: flex; 
    align-items: flex-start;
    margin-left: 220px;
    padding-top: 20px;
}

.searchblock{
    display: flex;
    width: 1020px;
    height: 30px;
    margin-top: 35px;
    padding: 8px 16px 8px 12px;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    background: #FFF;
}

.sorting-bar {
    width: 1048px;
    height: 55px;
    margin-top: 50px;
    margin-left: 220px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #E0E0E0;
    background: #FFF;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.04);
    display: flex; 
    flex-direction: row;
}

.placements-top3 {
    width: 1048px;
    height: 364px;
    margin-top: 50px;
    margin-left: 220px;
    display: flex; 
    flex-shrink: 0;
    border: 1px solid #E0E0E0;
    background: #FFF;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.04);
}

.search {
    border: none;
    outline: none;
}

.top1 {
    width: 349px;
    height: 364px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    background: rgba(78, 144, 245, 0.09);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.04);
    align-items: center; 
    position: relative;
    cursor: pointer;
}

.top3, .top2 {
    width: 349px;
    height: 364px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.04);
    position: relative;
    cursor: pointer;
}

.avatar {
    display: flex; 
    justify-content: center;
    align-items: center; 
    position: relative; 
    left: 153px;
    top: 190px;
}

.avatar-pfp1 {
    display: flex;
    width: 149px;
    height: 149px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;

    position: absolute;
    top: 50px;
    left: 93px;

    border-radius: 1000px;
    border: 6px solid #4E90F5;
    background: #4E90F5;

    /* background: url('<path-to-image>') lightgray 50% / cover no-repeat; */
}

.avatar-pfp23 {
    display: flex;
    width: 129px;
    height: 129px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;

    position: absolute;
    top: 70px;
    left: 103px;

    border-radius: 1000px;
    border: 6px solid #4E90F5;
    background: #4E90F5;

    /* background: url('<path-to-image>') lightgray 50% / cover no-repeat; */
}

.top1-name {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */

    display: flex; 
    justify-content: center;
    align-items: center; 
    margin-top: 205px;
}

.top23-name {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */

    display: flex; 
    justify-content: center;
    align-items: center; 
    margin-top: 205px;
}

.points {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */

    display: flex; 
    justify-content: center;
    align-items: center; 
    position: absolute;
    top: 260px;
    left: 150px;
}

.ranking23 {
    position: absolute; 
    top: 160px; 
    left: 168px;
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
}

.ranking1 {
    position: absolute; 
    top: 160px; 
    left: 168px;
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
}

.selected {
    display: flex;
    width: 349px;
    padding: 13px 0 12px 0;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #E0E0E0;
    background: #4E90F5;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.not-selected {
    display: flex;
    width: 349px;
    padding: 13px 0 12px 0;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #E0E0E0;
    background: #FFF;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.04);
    cursor: pointer;
}